<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Your new Puppy!!</h1>
    <ul>
      <li>Puppy Name: <%= @new_puppy.name %></li>
      <li>Puppy Breed: <%= @new_puppy.breed %></li>
      <li>Puppy Age: <%= @new_puppy.age %></li>
    </ul>

  </body>
</html>
